</head>
<body>
  <nav>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/flights/new">Add a Flight</a></li>
      <li><a href="/meals/new">Add a Meal</a></li>
      <li><a href="/flights">All Flights</a></li>
    </ul>
  </nav>